/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    background-color: crimson;
    align-items: center;
    justify-content: center;
} */

.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 7px;
}

.title-text {
    text-align: center;
    background-color: crimson;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.application {
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.status-bar {
    background-color: #f0f0f0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.status {
    height: 100%;
    background-color: #4caf50;
} 
