.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fe7412;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #fe7412, #fe7412, #fe7412, #fe7412);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #8B0000, #fff1a1, #ffffff ) */
    background: linear-gradient(to right, #fe7412, #fe7412, #fe7412 )
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }