.add-order {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(253, 250, 250, 0.941);
    margin-top:10%;
    background-image: url('../../src/Component/addorderbackground.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your background image */
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: side;
    
  }
  .img{
    position: absolute;
    top:10%;
    left:85%
  }
  .add-order form {
    display: flex;
    flex-direction: column;
  }
  
  .add-order label {
    margin-bottom: 5px;
  }
  
  .add-order input[type="text"],
  .add-order input[type="date"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .add-order button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-order button:hover {
    background-color: #0056b3;
  }
  