.navbar {
  position: fixed; /* Position the navbar fixed at the top */
  top: 0; /* Place the navbar at the top of the page */
  width: 100%; /* Make the navbar span the entire width of the page */
  z-index: 1000; /* Set a high z-index to ensure it's above other content */
  background-color: #333;
  overflow: hidden;
}
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: #333;
  }
  