/* roomdetails.css */
body {
  background-color: rgb(24, 95, 118); /* Apply light blue color to the entire page background */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 12%;
  padding-left: 260px;
}

.showrooms {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10%;
}

.showrooms table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.showrooms th,
.showrooms td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.showrooms th {
  background-color: #f2f2f2;
}

.showrooms tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.showrooms tbody tr:hover {
  background-color: #f2f2f2;
}

.showrooms a {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
}

.showrooms a:hover {
  text-decoration: underline;
}

.showrooms button {
  padding: 5px 10px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.showrooms button:hover {
  background-color: #c82333;
}
